/*IMPORTING FONT*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap");

/*FUNCTION FOR ALIGNING DIV*/
@mixin align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*SMOOTH SCROLL*/
html {
  scroll-behavior: smooth;
}

/*FADE IN TEXT ANIMATION*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*REMOVE DEFAULT PADDING*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*SIMPLE ADJUSTMENTS*/
header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  font-family: "Poppins";
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.quick-action1 {
  display: none;
  position: fixed;
  bottom: 0px;
  left: 0px; /*DEFAULT 10px*/
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  scale: 80%;
  animation: fadeIn 2s;
}

/*.quick-action2 {
  display: none;
  position: fixed;
  bottom: 0px;
  left: 180px; DEFAULT 80px
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  scale: 80%;
  animation: fadeIn 2s;
}*/

.scroll-button {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 10px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  scale: 80%;
  animation: fadeIn 2s;
}

  /*SCALING IMG FOR LINKS*/
  .square-img {
    height: 7vh;
    width: 7vh;
  }

  #homemade {
    height: 7vh;
    width: auto;
  }

/*NAVIGATION BAR*/
.navbar {
  background-color: #333;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px; /*DEFAULT IS 60px*/
}

.nav-branding h1 {
  font-size: 2rem;
  font-weight: 600;
  z-index: 10;
}

.nav-link {
  transition: 0.5s ease;
}

.nav-link:hover {
  color: cadetblue;
}

#click-me {
  display: none;
  cursor: pointer;
  z-index: 10;
}

#nav-about-me {
  display: none;
  cursor: pointer;
  z-index: 10;
}

.hamburger {
  display: none;
  cursor: pointer;
  z-index: 10;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/*HAMBURGER FOR MOBILE*/
@media (max-width: 768px) {
  #click-me {
    display: block;
  }

  #nav-about-me {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    gap: 0;
    flex-direction: column;
    background-color: #3b3b3b;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: -1;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-item.active {
    margin: 16px 0;
    animation: fadeIn 5s;
  }

  .nav-menu.active {
    left: 0;
    top: 69px;
  }
}

/* ORIGINAL NAV BAR
@media(max-width:768px){
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    position:fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color:#333;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item{
    margin: 16px 0;
  }

  .nav-menu.active{
    left: 0;
  }
}
*/

@media (max-width: 450px) {
  .animation-text {
    scale: 50%;
  }

  .prices-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .service-price {
    width: 60vw;
    height: auto;
  }
}

/*BODY*/
.services_screen ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.services_screen ul a {
  text-decoration: none;
  color: white;
  padding: 0 1vh;
  font-size: 150%;
}

body {
  background-color: #3b3b3b;
  font-family: "Poppins", sans-serif;
  color: white;

  /*HEADLINES FOR THE BODY*/
  .headline h2 {
    padding-top: 45vh;
    color: white;
    font-size: 3.5rem;
    font-weight: 600;
  }

  .headline_up h2 {
    padding-top: 40vh;
    color: white;
    font-size: 3.5em;
    font-weight: 600;
  }

  .headline_3 h2 {
    color: white;
    font-size: 3.5em;
    font-weight: 600;
  }

  /*PAGES AND COLORS*/
  .parallax_wrapper {
    height: 100vh;
    /*perspective: 300px;*/

    .home_screen {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-image: url("./Images/welcomegrey.png");
      /*background-image: url("/Images/welcomeanimatedoverlay.png");*/
      background-position: center;
      background-color: rgb(95, 158, 160);

      .animation-text {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;
        font-weight: 600;

        .first-text {
          font-size: 60px;
          position: relative;
        }

        .sec-texts {
          height: 90px;
          line-height: 90px;
          overflow: hidden;
        }

        .sec-texts li {
          position: relative;
          top: 0;
          font-size: 60px;
          color: #90f6fa;
          padding: 0 15px;
          text-shadow: 0 0 7px rgba(0, 238, 255, 0.5);
          animation: slide 15s steps(5) infinite;
        }

        /*TYPING ANIMATION: CURSOR*/
        @keyframes slide {
          100% {
            top: -450px;
          }
        }

        .sec-texts li span {
          position: relative;
        }

        .sec-texts li span::before {
          content: "";
          position: absolute;
          left: 0;
          width: 290px;
          height: 90px;
          background: rgb(74, 74, 74);
          /*background: rgb(95, 158, 160);*/
          border-left: 2px solid #0ef;
          animation: typing 1.5s steps(8) infinite alternate;
        }
      }
    }

    @media (max-width: 680px) {
      .animation-text {
        scale: 80%;

        .first-text {
          font-size: 60px;
          left: 100px;
        }

        .sec-texts {
          color: white;
          position: relative;
          top: 90px;
          left: -200px;
        }
      }
    }

    @media (max-width: 450px) {
      .animation-text {
        scale: 70%;
      }
    }

    /*TYPING ANIMATION: CURSOR*/
    @keyframes typing {
      100% {
        left: 100%;
        margin: 0 35px 0 35px;
      }
    }

    .about_screen {
      height: 100vh;
      background-color: rgb(65, 65, 65);
      /*background-color: rgb(73, 121, 122);*/
      text-align: center;
    }

    .contact_screen {
      height: 100vh;
      background-image: url("./Images/welcomegrey.png");
      /*background-image: url("/Images/welcomefulloverlay.png");*/
      background-position: center;
      background-color: rgb(95, 158, 160);
      background-color: rgb(75, 75, 75);
      text-align: center;
    }

    .blank_screen {
      height: 100vh;
      text-align: center;
      justify-content: center;
      align-items: center;
      background-color: rgb(65, 65, 65);
    }
  }

  .services_screen {
    height: 100vh;
    position: relative;
    background-color: rgb(65, 65, 65);
    /*background-color: rgb(73, 121, 122);*/
    text-align: center;

    .services-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .prices-container {
      max-width: 1200px;
      margin: 0 auto;
      display: grid;
      gap: 1rem;
    }

    .service-price {
      border-radius: 25px;
      font-weight: 600;
      background-color: cadetblue;
      border: 3px solid rgba(27, 31, 35, 0.15);
      box-shadow: rgba(27, 31, 35, 0.1) 0 6px 0;
    }

    .service-price:hover {
      transform: scale(1.1);
      transition: .2s linear;
    }

    

    .package-stats {
      color: rgb(168, 240, 242);
    }
  }

  #prices {
    padding-top: 25px;
    gap: 30px;
  }

  @media (min-width: 0px) {
    .prices-container {
      max-width: 1200px;
    }

    .service-price {
      color: white;
      height: 6rem;
      width: 65vw;
      font-size: medium;
      padding: 7px;
    }
  }

  @media (min-width: 600px) {
    .prices-container {
      grid-template-columns: repeat(2, 1fr);
      max-width: 1200px;
    }

    .service-price {
      color: white;
      height: 10rem;
      width: 30vw;
      font-size: large;
      padding: 30px;
    }
  }

  @media (min-width: 1250px) {
    .prices-container {
      grid-template-columns: repeat(2, 1fr);
    }

    .service-price {
      color: white;
      height: 15rem;
      width: 25vw;
      font-size: larger;
      padding: 65px;
    }
  }

  /*EMAIL BUTTON IMPORTED, BY GITHUB
https://getcssscan.com/css-buttons-examples*/
  .email-button {
    appearance: none;
    background-color: cadetblue;
    padding: 15px;
    font-weight: 600;
    background-color: cadetblue;
    border: 3px solid rgba(27, 31, 35, 0.15);
    box-shadow: rgba(27, 31, 35, 0.1) 0 6px 0;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding-right: 12px;
    padding-left: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    scale: 1.1;
  }

  .email-button:hover {
    background-color: rgb(31, 118, 124);
  }

  /*EMAIL ICON BUTTON*/
  .email-icon {
    background-color: transparent;
    fill: #fff;
    pointer-events: none;
    width: auto;
    height: auto;
    padding-left: 10px;
    padding-right: 2px;
    position: relative;
    top: 2px;
    left: -2px;
  }

  /*BACK TO SAFETY BUTTON*/
  .back-button {
    appearance: none;
    background-color: cadetblue;
    padding: 15px;
    font-weight: 600;
    background-color: cadetblue;
    border: 3px solid rgba(27, 31, 35, 0.15);
    box-shadow: rgba(27, 31, 35, 0.1) 0 6px 0;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    scale: 1.2;
  }
}
