/*IMPORTING FONT*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap');

/*FUNCTION FOR ALIGNING DIV*/
@mixin align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*FADE IN TEXT ANIMATION*/
@keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1;}
}

/*REMOVE DEFAULT PADDING*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  background-color: #333;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  font-family: "Poppins";
}

li{
  list-style: none;
}

a{
  color: white;
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding h1{
  font-size: 2rem;
  font-weight: 600;
  z-index: 10;
}

.nav-link {
  transition: 0.5s ease;
}

.nav-link:hover {
  color: cadetblue;
}

.hamburger {
  display: none;
  cursor: pointer;
  z-index: 10;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/*HAMBURGER FOR MOBILE*/
@media(max-width:768px){
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    position:fixed;
    top: -100%;
    left: 0;
    gap: 0;
    flex-direction: column;
    background-color:#333;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: -1;
  }

  .nav-item{
    margin: 16px 0;
  }

  .nav-item.active{
    margin: 16px 0;
    animation: fadeIn 3s;
  }

  .nav-menu.active{
    left: 0;
    top: 69px;
  }
}

/* ORIGINAL NAV BAR
@media(max-width:768px){
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    position:fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color:#333;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item{
    margin: 16px 0;
  }

  .nav-menu.active{
    left: 0;
  }
}
*/

body div ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

body div ul a {
  text-decoration: none;
  color: white;
  padding: 0 1vh;
  font-size: 150%;
}

/*SCALING IMG FOR LINKS*/
img {
  height: 7vh;
  width: 7vh;
}

body {
  background-color: #3b3b3b;
  font-family: "Poppins", sans-serif;
  color: white;
  
/*HEADLINES FOR THE BODY*/  
.headline h2 {
    padding-top: 45vh;
    color: white;
    font-size: 3.5rem;
    font-weight: 600;
  }

.headline_up h2 {
    padding-top: 40vh;
    color: white;
    font-size: 3.5em;
    font-weight: 600;
  }

/*PAGES AND COLORS*/  
  .parallax_wrapper {
    height: 100vh;
    perspective: 300px;
    text-align: center;

    .home_screen {
      height: 100vh;
      background-color: rgb(119, 195, 197);
    }

    .about_screen {
      height: 100vh;
      background-color: rgb(73, 121, 122);
    }

    .contact_screen {
      height: 100vh;
      background-color: rgb(95, 158, 160);
    }

    .link_screen {
      height: 100vh;
      background-color: rgb(73, 121, 122);
    }
  }
}


/*EMAIL BUTTON IMPORTED, BY GITHUB
https://getcssscan.com/css-buttons-examples*/
.email-button {
  appearance: none;
  background-color: rgb(47, 98, 102);
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.email-button:hover {
  background-color: rgb(31, 118, 124);
}