/*IMPORTING FONT*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap");
/*FUNCTION FOR ALIGNING DIV*/
/*SMOOTH SCROLL*/
html {
  scroll-behavior: smooth;
}

/*FADE IN TEXT ANIMATION*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*REMOVE DEFAULT PADDING*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

/*SIMPLE ADJUSTMENTS*/
header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  font-family: "Poppins";
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.quick-action1 {
  display: none;
  position: fixed;
  bottom: 0px;
  left: 0px; /*DEFAULT 10px*/
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  scale: 80%;
  animation: fadeIn 2s;
}

/*.quick-action2 {
  display: none;
  position: fixed;
  bottom: 0px;
  left: 180px; DEFAULT 80px
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  scale: 80%;
  animation: fadeIn 2s;
}*/
.scroll-button {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 10px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  scale: 80%;
  animation: fadeIn 2s;
}

/*SCALING IMG FOR LINKS*/
.square-img {
  height: 7vh;
  width: 7vh;
}

#homemade {
  height: 7vh;
  width: auto;
}

/*NAVIGATION BAR*/
.navbar {
  background-color: #333;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px; /*DEFAULT IS 60px*/
}

.nav-branding h1 {
  font-size: 2rem;
  font-weight: 600;
  z-index: 10;
}

.nav-link {
  transition: 0.5s ease;
}

.nav-link:hover {
  color: cadetblue;
}

#click-me {
  display: none;
  cursor: pointer;
  z-index: 10;
}

#nav-about-me {
  display: none;
  cursor: pointer;
  z-index: 10;
}

.hamburger {
  display: none;
  cursor: pointer;
  z-index: 10;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/*HAMBURGER FOR MOBILE*/
@media (max-width: 768px) {
  #click-me {
    display: block;
  }
  #nav-about-me {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    gap: 0;
    flex-direction: column;
    background-color: #3b3b3b;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: -1;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-item.active {
    margin: 16px 0;
    animation: fadeIn 5s;
  }
  .nav-menu.active {
    left: 0;
    top: 69px;
  }
}
/* ORIGINAL NAV BAR
@media(max-width:768px){
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    position:fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color:#333;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item{
    margin: 16px 0;
  }

  .nav-menu.active{
    left: 0;
  }
}
*/
@media (max-width: 450px) {
  .animation-text {
    scale: 50%;
  }
  .prices-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .package {
    width: 60vw;
    height: auto;
  }
}
/*BODY*/
body {
  background-color: #3b3b3b;
  font-family: "Poppins", sans-serif;
  color: white;
  /*HEADLINES FOR THE BODY*/
  /*PAGES AND COLORS*/
  /*EMAIL BUTTON IMPORTED, BY GITHUB
  https://getcssscan.com/css-buttons-examples*/
  /*EMAIL ICON BUTTON*/
  /*BACK TO SAFETY BUTTON*/
}
body .headline h2 {
  padding-top: 45vh;
  color: white;
  font-size: 3.5rem;
  font-weight: 600;
}
body .headline_up h2 {
  padding-top: 40vh;
  color: white;
  font-size: 3.5em;
  font-weight: 600;
}
body .parallax_wrapper {
  height: 100vh;
  /*perspective: 300px;*/
  /*TYPING ANIMATION: CURSOR*/
}
body .parallax_wrapper .home_screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./Images/welcomegrey.png");
  /*background-image: url("/Images/welcomeanimatedoverlay.png");*/
  background-position: center;
  background-color: rgb(95, 158, 160);
}
body .parallax_wrapper .home_screen .animation-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: 600;
  /*TYPING ANIMATION: CURSOR*/
}
body .parallax_wrapper .home_screen .animation-text .first-text {
  font-size: 60px;
  position: relative;
}
body .parallax_wrapper .home_screen .animation-text .sec-texts {
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
body .parallax_wrapper .home_screen .animation-text .sec-texts li {
  position: relative;
  top: 0;
  font-size: 60px;
  color: #90f6fa;
  padding: 0 15px;
  text-shadow: 0 0 7px rgba(0, 238, 255, 0.5);
  animation: slide 15s steps(5) infinite;
}
@keyframes slide {
  100% {
    top: -450px;
  }
}
body .parallax_wrapper .home_screen .animation-text .sec-texts li span {
  position: relative;
}
body .parallax_wrapper .home_screen .animation-text .sec-texts li span::before {
  content: "";
  position: absolute;
  left: 0;
  width: 290px;
  height: 90px;
  background: rgb(74, 74, 74);
  /*background: rgb(95, 158, 160);*/
  border-left: 2px solid #0ef;
  animation: typing 1.5s steps(8) infinite alternate;
}
@media (max-width: 680px) {
  body .parallax_wrapper .animation-text {
    scale: 80%;
  }
  body .parallax_wrapper .animation-text .first-text {
    font-size: 60px;
    left: 100px;
  }
  body .parallax_wrapper .animation-text .sec-texts {
    color: white;
    position: relative;
    top: 90px;
    left: -200px;
  }
}
@media (max-width: 450px) {
  body .parallax_wrapper .animation-text {
    scale: 70%;
  }
}
@keyframes typing {
  100% {
    left: 100%;
    margin: 0 35px 0 35px;
  }
}
body .parallax_wrapper .about_screen {
  height: 100vh;
  background-color: rgb(65, 65, 65);
  /*background-color: rgb(73, 121, 122);*/
  text-align: center;
}
body .parallax_wrapper .contact_screen {
  height: 100vh;
  background-image: url("./Images/welcomegrey.png");
  /*background-image: url("/Images/welcomefulloverlay.png");*/
  background-position: center;
  background-color: rgb(95, 158, 160);
  background-color: rgb(75, 75, 75);
  text-align: center;
}
body .parallax_wrapper .blank_screen {
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(65, 65, 65);
}
body .services_screen {
  height: 100vh;
  position: relative;
  background-color: rgb(65, 65, 65);
  /*background-color: rgb(73, 121, 122);*/
  text-align: center;
}
body .services_screen .services-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .services_screen .services-paragraph1 {
  position: relative;
  top: 0px;
  padding-bottom: 15px;
}
body .services_screen .services-paragraph2 {
  padding-top: 15px;
}
body .services_screen .headline_services h2 {
  color: white;
  font-size: 3.5em;
  font-weight: 600;
  padding-bottom: 0;
}
body .services_screen .package-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}
body .services_screen .package {
  border-radius: 25px;
  font-weight: 600;
  background-color: cadetblue;
  border: 3px solid rgba(27, 31, 35, 0.15);
  box-shadow: rgba(27, 31, 35, 0.1) 0 6px 0;
  cursor: pointer;
}
body .services_screen .package-more {
  display: none;
  color: white;
}
body .services_screen .package:hover {
  transform: scale(1.05);
  background-color: rgb(82, 135, 138);
  border: 3px solid rgb(61, 104, 106);
}
body .services_screen .package:hover .package-more {
  display: flex;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
  height: 2vh;
  width: auto;
  animation: fadeIn 0.5s;
}
body .services_screen .package-info {
  list-style: none;
  color: rgb(168, 240, 242);
}
body .services_screen .package-info .package-price {
  position: relative;
  color: white;
}
body .services_screen .package-info a {
  text-decoration: none;
  color: white;
  font-size: 150%;
}
body #packages {
  padding-bottom: 25px;
  gap: 30px;
}
body #packages:not(:last-child) {
  padding-bottom: 0px;
}
body .packages-preview {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
}
body .packages-preview .package-price {
  position: relative;
  padding-top: 10px;
  bottom: -10px;
}
body .packages-preview .preview {
  display: none;
  padding: 2rem;
  text-align: center;
  background: cadetblue;
  position: relative;
  margin: 2rem;
  width: 40rem;
  border-radius: 25px;
  border: 3px solid rgba(27, 31, 35, 0.15);
  animation: fadeIn 0.5s;
}
body .packages-preview .preview.active {
  display: inline-block;
}
body .packages-preview .preview .fa-times {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
}
body .packages-preview .preview .fa-times:hover {
  transform: rotate(90deg);
}
body #price-buy {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
body #buy-package {
  bottom: -14px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 3px 0;
}
@media (min-width: 0px) {
  body .package-container {
    max-width: 1200px;
  }
  body .package {
    color: white;
    height: 6rem;
    width: 65vw;
    font-size: 120%;
    /*font-size: medium;*/
    padding: 7px;
  }
  body .package .package-info .package-price {
    bottom: 0px;
  }
}
@media (min-width: 600px) {
  body .package-container {
    grid-template-columns: repeat(2, 1fr);
    max-width: 1200px;
  }
  body .package {
    color: white;
    height: 10rem;
    width: 30vw;
    font-size: 145%;
    /*font-size: large;*/
    padding: 30px;
  }
  body .package .package-info .package-price {
    bottom: -20px;
  }
}
@media (min-width: 1250px) {
  body .package-container {
    grid-template-columns: repeat(2, 1fr);
  }
  body .package {
    color: white;
    height: 15rem;
    width: 25vw;
    font-size: 190%;
    /*font-size: larger;*/
    padding: 65px;
  }
  body .package .package-info .package-price {
    bottom: -20px;
  }
}
body .email-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: cadetblue;
  padding: 15px;
  font-weight: 600;
  background-color: cadetblue;
  border: 3px solid rgba(27, 31, 35, 0.15);
  box-shadow: rgba(27, 31, 35, 0.1) 0 6px 0;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding-right: 12px;
  padding-left: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  scale: 1.1;
}
body .email-button:hover {
  background-color: rgb(82, 135, 138);
  border: 3px solid rgb(61, 104, 106);
}
body .email-icon {
  background-color: transparent;
  fill: #fff;
  pointer-events: none;
  width: auto;
  height: auto;
  padding-left: 10px;
  padding-right: 2px;
  position: relative;
  top: 2px;
  left: -2px;
}
body .simple-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: cadetblue;
  padding: 15px;
  font-weight: 600;
  background-color: cadetblue;
  border: 3px solid rgba(27, 31, 35, 0.15);
  box-shadow: rgba(27, 31, 35, 0.1) 0 6px 0;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  scale: 1.1;
}

.form_screen {
  height: 100vh;
  position: relative;
  background-color: rgb(65, 65, 65);
  /*background-color: rgb(73, 121, 122);*/
  text-align: center;
}
.form_screen .form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins";
}
.form_screen .form-headline h2 {
  color: white;
  font-size: 3.5em;
  font-weight: 600;
  padding-bottom: 0;
}
.form_screen .email-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_screen .form-group {
  padding: 10px;
}

.form_screen input, textarea, select {
  border: 2px solid cadetblue;
  border-radius: 4px;
}

.form_screen textarea {
  resize: vertical;
  min-height: 160px;
  max-height: 320px;
}/*# sourceMappingURL=main.css.map */