/*IMPORTING FONT*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap");
/*FUNCTION FOR ALIGNING DIV*/
/*SMOOTH SCROLL*/
html {
  scroll-behavior: smooth;
}

/*FADE IN TEXT ANIMATION*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*REMOVE DEFAULT PADDING*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*SIMPLE ADJUSTMENTS*/
header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  font-family: "Poppins";
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.quick-one {
  display: none;
  position: fixed;
  bottom: 0px;
  left: 80px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  scale: 80%;
}

.quick-two {
  display: none;
  position: fixed;
  bottom: 0px;
  left: 10px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  scale: 80%;
}

.scroll-button {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 10px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  scale: 80%;
}

/*NAVIGATION BAR*/
.navbar {
  background-color: #333;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding h1 {
  font-size: 2rem;
  font-weight: 600;
  z-index: 10;
}

.nav-link {
  transition: 0.5s ease;
}

.nav-link:hover {
  color: cadetblue;
}

.hamburger {
  display: none;
  cursor: pointer;
  z-index: 10;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/*HAMBURGER FOR MOBILE*/
@media (max-width: 768px) {
  .animation-text {
    scale: 70%;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    gap: 0;
    flex-direction: column;
    background-color: #3b3b3b;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: -1;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-item.active {
    margin: 16px 0;
    animation: fadeIn 5s;
  }
  .nav-menu.active {
    left: 0;
    top: 69px;
  }
}
/* ORIGINAL NAV BAR
@media(max-width:768px){
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    position:fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color:#333;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item{
    margin: 16px 0;
  }

  .nav-menu.active{
    left: 0;
  }
}
*/
@media (max-width: 450px) {
  .animation-text {
    scale: 50%;
  }
}
/*BODY*/
.link_screen ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.link_screen ul a {
  text-decoration: none;
  color: white;
  padding: 0 1vh;
  font-size: 150%;
}

body {
  background-color: #3b3b3b;
  font-family: "Poppins", sans-serif;
  color: white;
  /*HEADLINES FOR THE BODY*/
  /*PAGES AND COLORS*/
}
body .headline h2 {
  padding-top: 45vh;
  color: white;
  font-size: 3.5rem;
  font-weight: 600;
}
body .headline_up h2 {
  padding-top: 40vh;
  color: white;
  font-size: 3.5em;
  font-weight: 600;
}
body .parallax_wrapper {
  height: 100vh;
  perspective: 300px;
  /*TYPING ANIMATION: CURSOR*/
}
body .parallax_wrapper .home_screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/Images/welcomegrey.png");
  /*background-image: url("/Images/welcomeanimatedoverlay.png");*/
  background-position: center;
  background-color: rgb(95, 158, 160);
}
body .parallax_wrapper .home_screen .animation-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: 600;
  /*TYPING ANIMATION: CURSOR*/
}
body .parallax_wrapper .home_screen .animation-text .first-text {
  font-size: 60px;
  position: relative;
}
body .parallax_wrapper .home_screen .animation-text .sec-texts {
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
body .parallax_wrapper .home_screen .animation-text .sec-texts li {
  position: relative;
  top: 0;
  font-size: 60px;
  color: #90f6fa;
  padding: 0 15px;
  text-shadow: 0 0 7px rgba(0, 238, 255, 0.5);
  animation: slide 15s steps(5) infinite;
}
@keyframes slide {
  100% {
    top: -450px;
  }
}
body .parallax_wrapper .home_screen .animation-text .sec-texts li span {
  position: relative;
}
body .parallax_wrapper .home_screen .animation-text .sec-texts li span::before {
  content: "";
  position: absolute;
  left: 0;
  width: 290px;
  height: 90px;
  background: rgb(74, 74, 74);
  /*background: rgb(95, 158, 160);*/
  border-left: 2px solid #0ef;
  animation: typing 1.5s steps(8) infinite alternate;
}
@keyframes typing {
  100% {
    left: 100%;
    margin: 0 35px 0 35px;
  }
}
body .parallax_wrapper .about_screen {
  height: 100vh;
  background-color: rgb(65, 65, 65);
  /*background-color: rgb(73, 121, 122);*/
  text-align: center;
}
body .parallax_wrapper .contact_screen {
  height: 100vh;
  background-image: url("/Images/welcomegrey.png");
  /*background-image: url("/Images/welcomefulloverlay.png");*/
  background-position: center;
  background-color: rgb(95, 158, 160);
  background-color: rgb(75, 75, 75);
  text-align: center;
}
body .parallax_wrapper .link_screen {
  height: 100vh;
  background-color: rgb(65, 65, 65);
  /*background-color: rgb(73, 121, 122);*/
  text-align: center;
}

/*SCALING IMG FOR LINKS*/
img {
  height: 7vh;
  width: 7vh;
}

/*EMAIL BUTTON IMPORTED, BY GITHUB
https://getcssscan.com/css-buttons-examples*/
.email-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: rgb(0, 149, 160);
  /*background-color: rgb(47, 98, 102);*/
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding-right: 12px;
  padding-left: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.email-button:hover {
  background-color: rgb(31, 118, 124);
}

/*EMAIL ICON BUTTON*/
.email-icon {
  background-color: transparent;
  fill: #fff;
  pointer-events: none;
  width: auto;
  height: auto;
  padding-left: 10px;
  padding-right: 2px;
  position: relative;
  top: 2px;
  left: -2px;
}/*# sourceMappingURL=main.css.map */